/* Author: Kelly Beardreys
Date: 04 05 2023
Version: Week 10
*/

/*
COLOURS
Background Color - #d1ceaf
Text white - #fcfcfc
Section Background - #a7db94
Nav Link Background - 2d6618
Nav Link Hover - #5b1c75
Nav Link Outline - #295d16
Header Background - #214514
*/

<style>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,300;1,700&display=swap');
</style>



/*GLOBAL STYLES
----------------------------------
*/
body {
    /* Starting text settings */
    font-size: 20px;
    font-weight: 300;
}


h1 {
    /* Heading 1 styles */
    font-size: 5em;
    font-weight: 1200;
    color: #fcfcfc;
    margin: 0;
}

h2 {
    /* Heading 2 styles */
    font-size: 3.2em;
    font-weight: 1100;
    color: #fcfcfc;
}

Section {
    /* Section display settings on all pages */
    width: auto;
    max-width: 1000px;
    min-width: 650px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: #2d6618;
    padding: 0 25px;
    background-color: #a7db94;
}

body {
    background-color: #d1ceaf; /* Background color of entire page */
    font-family: sans-serif;  /* Font of entire page */
}

iframe {
    /* Video dimensions*/
    width: auto;
    height: 500px;
    border: 0;
}

/*HEADER
----------------------------------
*/
header {
    /* Heading image settings */
    background-image: url(Images/Background-Waterfall.gif);
    background-repeat: no-repeat;
    background-position: center;
    /* Dimansions of the Header */
    padding: 50px 20%;
    max-height: 200px;
    text-align: center;
    /* Settings when window is widened */
    background-color: #214514; /* If window is widened past image size, show this color */
    min-width: 620px;
}

header h2 {
    position: relative;
    top: -50px;
}

/*NAVIGATION
----------------------------------
*/

nav ul {
    /* Places the Nav banner in the correct spot */
    height: 100px;
    padding: 0;
    /* Creates the wrap within the banner as desired */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    /* Creates desired style within the nav Bar */
    list-style-type: none;
    outline-style: solid;
    outline-color: #2d6618;
    background-color: #a7db94;
    min-width: 703px;
}

nav li {
    /* Creates the placement of the Nav links */
    margin: auto;
}

nav a {
    font-weight: 800;
    margin: 25px 25px;
    padding: 8px 10px;
    color: #fcfcfc;
    text-decoration: none; 
    background-color: #2d6618;
    border-style: solid;
    border-color: #295d16;
}

nav a:hover {
    background-color: #5b1c75; /* Used to change the color of the Nav Links when the mouse hovers over them */
}


/*FOOTER
----------------------------------
Placement of the footer along with style selections
*/

footer {
    padding: 2px 10px;
    background-color: #2d6618;
    font-size: 12px;
    color: #fcfcfc;
    min-width: 690px;
}

footer a {
    color: #fcfcfc;
}

/*CONTENT index
----------------------------------
The below section is used to create the background images behind the sub titles of the Index page. Stops the image from repeating and places the image properly.
*/

#context h2 {
    background-image: url(Images/Heading-Banners1.gif);
    background-repeat: no-repeat;
    padding: 50px 25px;
}

#context iframe {
    padding-bottom: 20px; /* This line is used to pad the video off the bottom of the border */
}

#Goals h2 {
    background-image: url(Images/Heading-Banners2.gif);
    background-repeat: no-repeat;
    padding: 50px 25px;    
}

#Expec h2 {
    background-image: url(Images/Heading-Banners3.gif);
    background-repeat: no-repeat;
    padding: 50px 25px;
}

/*CONTENT Itinerary
----------------------------------
The below section is used to create the background images behind the sub titles of the Itinerary page. Stops the image from repeating and places the image properly.
*/

#Rotorua h2 {
    background-image: url(Images/Itineraryheading1.gif);
    background-repeat: no-repeat;
    padding: 50px 25px;
}

#Wellington h2 {
    background-image: url(Images/Itineraryheading2.gif);
    background-repeat: no-repeat;
    padding: 50px 25px;    
}

#Queenstown h2 {
    background-image: url(Images/Itineraryheading3.gif);
    background-repeat: no-repeat;
    padding: 50px 25px;    
}

/*CONTENT Activities Planned
----------------------------------
The below section is used to create the background images behind the sub titles of the Activitis planned page. Stops the image from repeating and places the image properly.
*/

#adrenaline h2 {
    background-image: url(Images/ActivitiesPlannedHeading1.gif);
    background-repeat: no-repeat;
    padding: 50px 25px;
}

#Exploration h2 {
    background-image: url(Images/ActivitiesPlannedHeading2.gif);
    background-repeat: no-repeat;
    padding: 50px 25px;    
}

#Food h2 {
    background-image: url(Images/ActivitiesPlannedHeading3.gif);
    background-repeat: no-repeat;
    padding: 50px 25px;    
}

/*CONTENT Contact Us
----------------------------------
The below sectionis used to create the background images behind the sub titles of the Contact Us page. Stops the image from repeating and places the image properly.
*/

#Contact h2 {
    background-image: url(Images/ContactUsHeading1.gif);
    background-repeat: no-repeat;
    padding: 50px 25px;
}

#Recommendations h2 {
    background-image: url(Images/ContactUsHeading2.gif);
    background-repeat: no-repeat;
    padding: 50px 25px;    
}

#Recognition h2 {
    background-image: url(Images/ContactUsHeading3.gif);
    background-repeat: no-repeat;
    padding: 50px 25px;    
}

#Recognition a {
    word-break: break-all;
}